

.rainbow-gradient {
    position: relative;
    background: #22222205;
    border-radius: 3px
}

.rainbow-gradient::after {
    position: absolute;
    content: "";
    top: -3px;
    left: -3px;
    z-index: -1;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background: linear-gradient(45deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0, #5ff281, #abf25f, #f2cb5f, #f25f61, #f25fd0, #a65ff2, #5f86f2);
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: moveGradient 10s alternate infinite
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%
    }
}

@keyframes rotate {
    from {
        transform: rotate(0turn)
    }

    to {
        transform: rotate(1turn)
    }
}

.rainbow-animation {
    border-radius: 3px;
    position: relative;
    background: #222;
    z-index: 0;
    overflow: hidden;
    padding: 3px
}

.rainbow-animation::before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    z-index: -2;
    left: calc(-6000px + 50%);
    top: calc(-6000px + 50%);
    width: 12000px;
    height: 12000px;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: conic-gradient(#a65ff2, #f25f61, #f2cb5f, #5ff281, #5ff2f0, #a65ff2);
    animation: rotate 10s linear infinite
}

.rainbow-animation::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    z-index: -1;
    left: 3px;
    top: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: #222;
    border-radius: 2px
}

@keyframes rainbow {
    0% {
        border-color: #b827fc
    }

    20% {
        border-color: #2c90fc
    }

    40% {
        border-color: #fde533
    }
}

.main-title {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 7vw
}

.main-title.responsive-title {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 0
}

@media (max-width: 1200px) {
    .main-title.responsive-title {
        width:max-content
    }
}

@media (max-width: 1024px) {
    .main-title {
        font-size:12vw
    }
}

.main-title .title {
    font-family: dash-horizon, Verdana, sans-serif;
    font-size: 1em;
    font-weight: 900;
    margin-bottom: 0
}

.main-title .title img {
    width: 1.6em;
    height: 1.6em;
    animation: rotate_animation 4s ease-in-out infinite;
    animation-iteration-count: infinite
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    letter-spacing: 5px
}

.rainbow_text_animated {
    color: white;
    text-decoration: none;
    animation: rainbow_animation 10s linear infinite;
    animation-iteration-count: infinite
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    letter-spacing: 5px
}

.rainbow_text_animated {
    color: white;
    text-decoration: none;
    animation: rainbow_animation 10s linear infinite;
    animation-iteration-count: infinite
}

@keyframes rainbow_animation {
    0% {
        filter: saturate(0%) invert(48%) sepia(13%) saturate(3207%) hue-rotate(0deg) brightness(125%)
    }

    25% {
        filter: saturate(0%) invert(48%) sepia(13%) saturate(3207%) hue-rotate(90deg) brightness(125%)
    }

    50% {
        filter: saturate(0%) invert(48%) sepia(13%) saturate(3207%) hue-rotate(180deg) brightness(125%)
    }

    75% {
        filter: saturate(0%) invert(48%) sepia(13%) saturate(3207%) hue-rotate(270deg) brightness(125%)
    }

    100% {
        filter: saturate(0%) invert(48%) sepia(13%) saturate(3207%) hue-rotate(360deg) brightness(125%)
    }
}

@keyframes rotate_animation {
    0% {
        transform: rotate(360deg)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

.anon-menu {
    width: 100%;
    display: block;
    margin-bottom: 20px
}

@media (max-width: 428px) {
    .anon-menu {
        margin-bottom:5px
    }
}

@media (max-width: 992px) {
    .anon-menu .access .item {
        padding:5px
    }
}

@media (max-width: 428px) {
    .anon-menu .access .item {
        margin-bottom:2px;
        margin-left: 2px;
        font-size: 0.9em
    }

    .anon-menu .access .item svg {
        width: 90px !important;
        height: 24.3px !important
    }
}

@media (max-width: 373px) {
    .anon-menu .access .item {
        font-size:0.72em
    }

    .anon-menu .access .item svg {
        width: 72px !important;
        height: 19.44px !important
    }
}

.access {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center
}

.access.sep {
    margin-top: 40px;
    margin-bottom: 40px
}

.access.col {
    flex-flow: column
}

.access.col .item {
    width: 100%;
    flex-grow: 1;
    text-align: center;
    margin-left: 0;
    margin-right: 0
}

.access.flex {
    justify-content: stretch
}

.access.flex .item {
    flex-grow: 1;
    text-align: center
}

.access .item {
    background: #222;
    border: solid 2px #222;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: white
}

.access .item:hover {
    background: #2f2f2f;
    border: solid 2px #222
}

.redeem-form {
    max-width: 410px
}

.redeem-form .form {
    display: flex
}

.redeem-form .form .form-cell {
    margin-bottom: 0
}

.redeem-form .form .buttons {
    margin-top: 28px;
    margin-left: 20px
}

.admin_orders-page .admin_orders td {
    font-family: monospace
}

.goto-profile {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #222;
    border-radius: 200px;
    width: 64px;
    height: 64px;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    border: 1px solid #4e4e4e
}

@font-face {
    font-family: dash-horizon;
    src: url("../img/Dash-Horizon-Demo.otf")
}

@font-face {
    font-family: comfortaa;
    src: url("../img/Comfortaa-VariableFont_wght.ttf")
}

html {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif
}

html body {
    background: #333;
    color: #eee;
    padding: 0;
    margin: 0
}

html body h1 {
    font-size: 2.25rem
}

html body h2 {
    font-size: 1.5rem
}

html body h3 {
    font-size: 1.2rem
}

html body .title {
    margin-bottom: 30px
}

html body a {
    color: #02a7ff;
    font-weight: bold;
    text-decoration: none;
    user-select: none
}

html body a:hover {
    color: #4ba7ff
}

html body .rotate {
    animation: rotate 1s linear infinite
}

html body i.rotate {
    animation: none
}

html body i.rotate::before {
    animation: rotate 1s linear infinite
}

html body .rainbow-animation textarea,html body .rainbow-animation input[type=text],html body .rainbow-animation input[type=password],html body .rainbow-animation input[type=number] {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none
}

html body textarea,html body input[type=text],html body input[type=password],html body input[type=number] {
    padding: 10px;
    background: #333;
    color: #eee
}

html body textarea:focus,html body input[type=text]:focus,html body input[type=password]:focus,html body input[type=number]:focus {
    outline: none
}

html body .btn {
    font-weight: bold
}

html body .btn-icon {
    font-size: 1.5em;
    padding: 0.15rem 0.5rem;
    margin-right: 10px
}

html body .btn-success {
    background-color: #079923;
    border-color: #198754
}

html body .url {
    word-break: break-all;
    word-wrap: break-word;
    max-width: 100px
}

html body .page-content-wrapper {
    padding-top: 20px;
    min-height: calc(100vh - 40px)
}

html body .form-cell {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px
}

html body .form-cell label {
    font-weight: bold
}

html body .form-cell.form-cell-checkbox {
    flex-flow: row
}

html body .form-cell.form-cell-checkbox input[type=checkbox] {
    width: 24px;
    height: 24px;
    margin-left: 10px
}


html body a:hover {
    color: #4ba7ff
}

html body footer {
    background: #222;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center
}